body {
    font-family: 'Blinker', sans-serif;
    font-size: large;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    border-radius: 15px;
}

.contact {
    align-self: flex-end;
}

footer {
    display: flex;
    justify-content:center;
}

footer a:first-child {
    margin-right: 5px;
}

